[Desktop Entry]
Type=Application
Exec=1password --silent
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=1Password
Comment=Start 1Password minimized
